[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
jinja2 = "*"
python-dotenv = "*"
tweepy = "*"
spacy = "*"
scikit-learn = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.10"
